 /*Paramètres généraux*/
body{
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg") fixed;
    background-size: cover;
}

 h2, h3, nav a{
     text-transform: uppercase;
 }

 a{
     text-decoration: none;
 }

 ul li{
     list-style-type: none;
 }

 /*Disposition du menu de navigation et du header*/
 header{
     background-color: #212529;
 }
 /*Disposition de la section emission*/
#emission>div>img{
   object-fit: cover;
}


 /*Playlist*/

 .target .normal{
     display: none;
 }