 /*Paramètres généraux*/
body{
    background-color: #060e2c;
}

 /*Disposition du menu de navigation*/
 nav>div ul{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
 }

 nav>div ul li{
     list-style-type: none;
     width: 100px;
     text-align: center;
 }
 nav>div ul li a{
     text-decoration: none;
     font-size: larger;
     color: white;
     text-transform: uppercase;
 }